.login-row{
  height: 100%;
}
.lock-col{
  height: 100%;
}
.lock-bg{
  height: 100%;
  width: 2px;
  background: #e0f0fa;
  margin-left: 50%;
}
.lock-img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2px;
  width: 70%;
  border: 2px solid #e0f0fa;
  border-radius: 27px;
}
